
.HyeAn_logo {
    font-family: 'Lobster', sans-serif;
};

.HyeAn_footer_button {
    font-size: .6rem;
};

.HyeAn_footer {
    text-align: center;
    margin-top: 2rem;
};

.HyeAn_header {
    text-align: center;
    margin: 2rem 0;
};

